<div class="table-holder">
  <table
    mat-table
    [dataSource]="news$ | async"
    class="mat-elevation-z8 table"
    matSort
    (matSortChange)="onSortData($event)"
  >
    <!-- Image Column -->
    <ng-container matColumnDef="Image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element">
        <a
          target="_blank"
          [href]="element.urlToImage ? element.urlToImage : placeholder"
        >
          <img
            [src]="element.urlToImage ? element.urlToImage : placeholder"
            alt="thumbnail"
          />
        </a>
      </td>
    </ng-container>

    <!-- Source Column -->
    <ng-container matColumnDef="Source">
      <th mat-header-cell *matHeaderCellDef>Source</th>
      <td mat-cell *matCellDef="let element">{{ element.source.name }}</td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="Author">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let element">
        {{
          element.author != null
            ? (element.author | textShorten: 20)
            : "No Author"
        }}
      </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="publishedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.publishedAt | date }}
      </td>
    </ng-container>

    <!-- URL Column -->
    <ng-container matColumnDef="URL">
      <th mat-header-cell *matHeaderCellDef>URL</th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="onViewArticle(element)"
          color="primary"
          mat-raised-button
        >
          View article
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="cols"></tr>
    <tr mat-row *matRowDef="let row; columns: cols"></tr>
  </table>
</div>
<div class="paginater">
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    showFirstLastButtons
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
